{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"overrides": [
		{
			"files": "package.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
