// basic

$black: #000000;
$white: #ffffff;

// greys

$midnight: #333333;
$new-bnh: #666666;
$whale: #9a9a9a;
$vog: #cdcdcd;
$cesar: #e7e7e7;

$aliceblue: #f0f4f8;

// blues

$water: #d9e3ed;
$night: #334455;
$blue: #1a5888;
$bond: #007ab8;

// Accent

$scarlet: #990000;
$amber: #db8749;
$apricot: #ff9933;
$sruli: #769e2d;
$hawaii: #0a92ca;

$dz-red: #e54c3c;
$seagreen: #e5f3d8;

$item-link-light-blue: $hawaii;
$item-link-light-pink: #f2a99b;
