.app {
	text-align: center;

	&Logo {
		animation: App-logo-spin infinite 20s linear;
		height: 80px;
	}

	&Header {
		background-color: #222;
		height: 150px;
		padding: 20px;
		color: white;
	}

	&Title {
		font-size: 1.5em;
	}

	&Intro {
		display: block;
	}
}

.buttonRow {
	display: flex;
	// flex-direction: column;
	// align-items: flex-start;
}

.rowTitle {
	width: 75px;
	padding: 1em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: left;
	font-weight: 600;
}

.buttonContainer {
	padding: 1em;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
